// Define variables for your color scheme

// For example:
$red: #FD1015;
$skyblue: #167FFB;
$blue: #50FFB1;
// $yellow: #FFC65A;
$yellow: #F5D3C8;
$orange: #E67E22;
$green: #1EDD88;
$gray: #5C6F68;
$light-gray: #F4F4F4;
