.add_new {
  display: flex
  justify-content: space-between;
  background-color: lightgrey;
  padding: 16px;
  font-size: 24px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  margin-left: 42px;
  margin-top: 34px;
}

.add_new:hover {
  background-color: lightyellow;
}


.show_container {
  display: flex;
  justify-content: space-around;
}

.show_image {
  flex-basis: 50%;
  // width: 600px;
  height: 100%;
  // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80);
  }


.main_section {
  width: 100%;
  min-height: 90vh;
  object-fit: contain;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 34px;
  margin-top: 16px;
  color: white;
}

.title h1 {
  font-size: 80px;
}

.individual_card {
  background-size: cover;
  background-position: center;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 42px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 34px;
  margin-left: 42px;
  margin-right: 42px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }


}
