<h1>✨Ingredients✨</h1>

<h1>Time to add more yumminess!</h1>



<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Add this as ingredient", class: "btn btn-primary" %>
<% end %>
